<?xml version="1.0" encoding="UTF-8"?>
<tsplugin version="1" inproc="false" extensions=".ifc|.ifcxml|.ifczip">
  <configuration>
    <additionalloadpath>opencascade-6.6.0</additionalloadpath>
  </configuration>
  <settings>
    <solidmode Type="brep"/>
    <taskqueuesettings ConsumerCount="default"
                       UseSeparatedProcess="default"
                       TaskTimeOut="default"
                       TaskWorkerDLL="default"
                       TaskDataBlockSize="default"/>
    <visualizationsettings smoothshading="default"/>
    <booleanoperations TriangulationMinSize="default"
                       TriangulationDeviationAngle="default"
                       TriangulationDeflection="default"/>
  </settings>
</tsplugin>
