<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugSplatDbName</key>
	<string>SU17Mac</string>
	<key>BugSplatDescription</key>
	<string>SketchUp-Mac Crash Report</string>
	<key>BugSplatProductDisplay</key>
	<string>SketchUp</string>
	<key>BuildMachineOSBuild</key>
	<string>15G31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>skp</string>
				<string>SKP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sketchup_doc_icons</string>
			<key>CFBundleTypeName</key>
			<string>SketchUp Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>skp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>SketchUpDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>skm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>material_doc</string>
			<key>CFBundleTypeName</key>
			<string>SketchUp Material</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>SketchUpDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rbz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ruby_doc</string>
			<key>CFBundleTypeName</key>
			<string>SketchUp Ruby Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>SketchUpDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SketchUp</string>
	<key>CFBundleGetInfoString</key>
	<string>SketchUp 17.2.2554, © 2016 Trimble Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>SketchUp Help</string>
	<key>CFBundleHelpBookName</key>
	<string>SketchUp Help</string>
	<key>CFBundleIconFile</key>
	<string>sketchup_icons</string>
	<key>CFBundleIdentifier</key>
	<string>com.sketchup.SketchUp.2017</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SketchUp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>17.2</string>
	<key>CFBundleSignature</key>
	<string>SKPa</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>17.2.2554</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C68</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string>7C68</string>
	<key>GoogleEarthBundleIdentifiers</key>
	<array>
		<string>com.google.googleearthpro</string>
		<string>com.google.googleearthplus</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2016 Trimble Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SketchUpApplication</string>
	<key>SUCanRevert</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SketchUp Model file</string>
			<key>UTTypeIdentifier</key>
			<string>com.sketchup.skp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sketchup.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>skp</string>
					<string>SKP</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SketchUp Materials file</string>
			<key>UTTypeIdentifier</key>
			<string>com.sketchup.skm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sketchup.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>skm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SketchUp Style file</string>
			<key>UTTypeIdentifier</key>
			<string>com.sketchup.style</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sketchup.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>style</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>WarehouseShareTags</key>
	<array>
		<string>modeltype</string>
		<string>title</string>
		<string>description</string>
		<string>url</string>
		<string>tags</string>
		<string>replaceitem</string>
		<string>address</string>
	</array>
</dict>
</plist>
