<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BreakpadMinidumpLocation</key>
	<string>~/Library/Logs/SketchUp</string>
	<key>BreakpadProduct</key>
	<string>LayOutMac</string>
	<key>BreakpadProductDisplay</key>
	<string>LayOut</string>
	<key>BreakpadReportInterval</key>
	<string>1</string>
	<key>BreakpadRequestComments</key>
	<string>YES</string>
	<key>BreakpadRequestEmail</key>
	<string>YES</string>
	<key>BreakpadURL</key>
	<string>http://LO17Mac.bugsplatsoftware.com/post/bp/crash/postBP.php</string>
	<key>BreakpadVendor</key>
	<string>SketchUp</string>
	<key>BreakpadVersion</key>
	<string>17.2.2554</string>
	<key>BugSplatDbName</key>
	<string>LO17Mac</string>
	<key>BugSplatDescription</key>
	<string>LayOut-Mac Crash Report</string>
	<key>BugSplatProductDisplay</key>
	<string>LayOut</string>
	<key>BuildMachineOSBuild</key>
	<string>15G31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>loext</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Extension</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>layout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pupd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>layout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Version 2016</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pupd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>layout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Version 2015</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pupd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>layout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Version 2014</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pupd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>layout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Version 2013</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pupd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>layout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Version 3</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pupd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>layout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Version 2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pupd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>layout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PinUpDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>LayOut Version 1</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pupd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>skp</string>
				<string>SKP</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SketchUp Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>skp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PUDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>LayOut</string>
	<key>CFBundleGetInfoString</key>
	<string>LayOut 17.2.2554, © 2016 Trimble Inc.</string>
	<key>CFBundleIconFile</key>
	<string>LayOutAppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.sketchup.LayOut.2017</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>17.2</string>
	<key>CFBundleSignature</key>
	<string>SKPp</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>17.2.2554</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C68</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string>7C68</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2016 Trimble Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
